
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
config/condition-reports.yaml
.env
.idea/
public/annotation_images/*
!public/annotation_images/frame.svg
!public/annotation_images/frame_150px.svg
!public/annotation_images/frame_back.svg
!public/annotation_images/frame_back_150px.svg
