
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
config/condition-reports.yaml
.env
.idea/
public/annotation_images/*
!public/annotation_images/1637361020124.jpg
!public/annotation_images/1637361020124_thm.jpg
!public/annotation_images/1637361403233.png
!public/annotation_images/1637361403233_thm.jpg

