
body {
    text-align: center;
}

.reports {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #37559d;
}

.reports a {
    color: #5165ff;
}

.reports-header {
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: repeat(5, 200px);
    place-items: start;
    border-bottom: 2px solid #ccd2ff;
}

.reports-row {
    display: grid;
    text-decoration: none;
    color: inherit;
    grid-template-columns: repeat(5, 200px);
    place-items: start;
    border-bottom: 2px solid #ccd2ff;
    cursor: pointer;
}

.reports-row:hover, .reports-row:focus {
    background: #f2f3ff;
    outline: none;
}

.reports-cell {
    padding: 18px;
}

.create {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #37559d;
}

.create a {
    color: #5165ff;
}

.create-header {
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: repeat(4, 200px);
    place-items: start;
    border-bottom: 2px solid #ccd2ff;
}

.create-row {
    display: grid;
    text-decoration: none;
    color: inherit;
    grid-template-columns: repeat(4, 200px);
    place-items: start;
    border-bottom: 2px solid #ccd2ff;
    cursor: pointer;
}

.create-row:hover, .create-row:focus {
    background: #f2f3ff;
    outline: none;
}

.create-cell {
    padding: 18px;
}

