---
parameters:

  report_reasons:
    1:
      name: Inkomend object (depacking)
      options:
        100: Verwerving (collectie schenker/verkoper/...)
        101: Langdurige bruikleen (collectie derden)
        102: Tijdelijke bruikleen (collectie derden)
        103: Terugkomende bruikleen (eigen collectie)
        104: Restauratie
    2:
      name: Uitgaand object (packing)
      options:
        201: Uitgaande bruikleen (eigen collectie)
        202: Terugkerende bruikleen (collectie derden)
        203: Ontzameling/afstoting
        204: Restauratie
    3:
      name: Verplaatsing naar ander gebouw/instelling
      options:
        301: Naar standplaats/depot
        302: Naar tentoonstellingsruimte
        303: Naar restauratieruimte
        304: Naar verpakkingsruimte
    4:
      name: Verplaatsing binnen eenzelfde gebouw
      options:
        401: Naar standplaats/depot
        402: Naar tentoonstellingsruimte
        403: Naar restauratieruimte
        404: Naar verpakkingsruimte
    5:
      name: Actieve en preventieve conservering
      options:
        501: Preventieve of periodieke controle
        502: Controle na gebeurtenis (overstroming, ongeval, vandalisme, abnormale klimaatschommeling, ...)
        503: Controle na melding van gewijzigde toestand of schade
        504: Risicobeheer (omgeving, arthandling)
        505: Materiaaltechnisch onderzoek
    6:
      name: Waardebepaling
      options:
        601: Verzekering en indemniteit
        602: Verlies en schade
        603: Schadeclaim

  datahub_url: 'http://datahub.kmska.be'
  datahub_language: nl
  datahub_namespace: 'lido'
  datahub_metadataprefix: 'oai_lido'

  datahub_data_definition:
    id:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/repositoryWrap/repositorySet/workID[@type="object-number"]'
      field: 'id'
    work_pid:
      xpath: 'objectPublishedID'
      field: 'pidobject'
    title_nl:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/titleWrap/titleSet/appellationValue[@xml:lang="nl"]'
      field: 'nl-titleartwork'
    title_en:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/titleWrap/titleSet/appellationValue[@xml:lang="en"]'
      field: 'en-titleartwork'
    short_description:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet/descriptiveNoteValue'
      field: 'description'
    creator:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventActor[not(actorInRole/attributionQualifierActor)]/actorInRole/actor/nameActorSet/appellationValue[@pref="preferred"]'
      field: 'creatorofartworkobje'
    creator_role:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventActor[not(actorInRole/attributionQualifierActor)]/actorInRole/roleActor/term'
      field: 'roleofcreatorofartworkobje'
    earliest_date:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventDate/date/earliestDate'
      field: 'earliestdate'
    latest_date:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventDate/date/latestDate'
      label: 'latestdate'
    publisher:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/recordWrap/recordSource/legalBodyName/appellationValue'
      field: 'publisher'
    copyright:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/rightsWorkWrap/rightsWorkSet/creditLine'
      field: 'copyrightnoticeofart'
    handling_nl:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet[@type="handling"]/descriptiveNoteValue[@xml:lang="nl"]'
      field: 'nl-handling'
    handling_en:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet[@type="handling"]/descriptiveNoteValue[@xml:lang="en"]'
      field: 'en-handling'
    iiif_manifest_url:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/resourceWrap/resourceSet[resourceType/term="IIIF Manifest"]/resourceID[@source="ImagehubKMSKA"]'
      field: 'iiif_manifest_url'
    iiif_image_url:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/resourceWrap/resourceSet[resourceType/term="thumbnail"]/resourceID[@source="ImagehubKMSKA"]'
      field: 'iiif_image_url'

  authentication_url: 'https://imagehub.kmska.be/public/authenticate'
  authentication_whitelist:
    - '127.0.0.1'
