---
parameters:

  report_reasons:
    1:
      name: Inkomend object (depacking)
      options:
        100: Verwerving (collectie schenker/verkoper/...)
        101: Langdurige bruikleen (collectie derden)
        102: Tijdelijke bruikleen (collectie derden)
        103: Terugkomende bruikleen (eigen collectie)
        104: Restauratie
    2:
      name: Uitgaand object (packing)
      options:
        201: Uitgaande bruikleen (eigen collectie)
        202: Terugkerende bruikleen (collectie derden)
        203: Ontzameling/afstoting
        204: Restauratie
    3:
      name: Verplaatsing naar ander gebouw/instelling
      options:
        301: Naar standplaats/depot
        302: Naar tentoonstellingsruimte
        303: Naar restauratieruimte
        304: Naar verpakkingsruimte
    4:
      name: Verplaatsing binnen eenzelfde gebouw
      options:
        401: Naar standplaats/depot
        402: Naar tentoonstellingsruimte
        403: Naar restauratieruimte
        404: Naar verpakkingsruimte
    5:
      name: Actieve en preventieve conservering
      options:
        501: Preventieve of periodieke controle
        502: Controle na gebeurtenis (overstroming, ongeval, vandalisme, abnormale klimaatschommeling, ...)
        503: Controle na melding van gewijzigde toestand of schade
        504: Risicobeheer (omgeving, arthandling)
        505: Materiaaltechnisch onderzoek
    6:
      name: Waardebepaling
      options:
        601: Verzekering en indemniteit
        602: Verlies en schade
        603: Schadeclaim

  datahub_url: 'http://datahub.kmska.be'
  datahub_language: nl
  datahub_namespace: 'lido'
  datahub_metadataprefix: 'oai_lido'

  datahub_data_definition:
    id:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/repositoryWrap/repositorySet/workID[@type="object-number"]'
    title_nl:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/titleWrap/titleSet/appellationValue[@xml:lang="nl"]'
    title_en:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/titleWrap/titleSet/appellationValue[@xml:lang="en"]'
    description_nl:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet/descriptiveNoteValue'
    creator_nl:
      parent_xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventActor[not(actorInRole/attributionQualifierActor)]/actorInRole'
      xpath_main: 'actor/nameActorSet/appellationValue[@pref="preferred"]'
      xpath_sub: 'roleActor/term[@xml:lang="nl"]'
    creator_en:
      parent_xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventActor[not(actorInRole/attributionQualifierActor)]/actorInRole'
      xpath_main: 'actor/nameActorSet/appellationValue[@pref="preferred"]'
      xpath_sub: 'roleActor/term[@xml:lang="en"]'
    creator_role:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventActor[not(actorInRole/attributionQualifierActor)]/actorInRole/roleActor/term'
    earliest_date:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventDate/date/earliestDate'
    latest_date:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/eventWrap/eventSet/event[eventType/term="production"]/eventDate/date/latestDate'
    publisher:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/recordWrap/recordSource/legalBodyName/appellationValue'
    copyright:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/rightsWorkWrap/rightsWorkSet/creditLine'
    handling_nl:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet[@type="handling"]/descriptiveNoteValue[@xml:lang="nl"]'
    handling_en:
      xpath: 'descriptiveMetadata[@xml:lang="{language}"]/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet[@type="handling"]/descriptiveNoteValue[@xml:lang="en"]'
    iiif_manifest_url:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/resourceWrap/resourceSet[resourceType/term="IIIF Manifest"]/resourceID[@source="ImagehubKMSKA"]'
    iiif_image_url:
      xpath: 'administrativeMetadata[@xml:lang="{language}"]/resourceWrap/resourceSet[resourceType/term="thumbnail"]/resourceID[@source="ImagehubKMSKA"]'

  authentication_url: 'https://imagehub.kmska.be/public/authenticate'
  authentication_whitelist:
    - '127.0.0.1'
