{% if not readonly %}
Aanleiding:
<select name="reason" onchange="if(this.options[this.selectedIndex].value=='customOption') {
        toggleField(this, this.nextSibling);
        this.selectedIndex='0';
    }">
    <option></option>
    {% for key, reason_type in report_reasons %}
        <optgroup label="{{ reason_type.name }}">
            {% for id, reason in reason_type.options %}
                <option value="{{ id }}">{{ reason }}</option>
            {% endfor %}
        </optgroup>
    {% endfor %}
    <option value="customOption">Andere</option>
</select><input name="reason" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this, this.previousSibling);}">
{% endif %}

<h2>Identificatie object</h2>
<div>
    {% include 'textfield.html.twig' with { 'name': 'inventory_number', 'label': 'Inventarisnummer' } %}
    {% include 'textfield.html.twig' with { 'name': 'current_location', 'label': 'Standplaats' } %}
    {% include 'textfield.html.twig' with { 'name': 'object_name', 'label': 'Objectnaam' } %}
</div>
<div>
    {% include 'textarea.html.twig' with { 'name': 'dimensions', 'label': 'Afmetingen', 'no_newline': true, 'cols': 40 } %}
    {% include 'textfield.html.twig' with { 'name': 'weight', 'label': 'Gewicht' } %}
<div>
    {% include 'textfield.html.twig' with { 'name': 'creator', 'label': 'Vervaardiger' } %}</div>
    {% include 'textfield.html.twig' with { 'name': 'title_nl', 'label': 'Titel' } %}
    {% include 'textfield.html.twig' with { 'name': 'creation_date', 'label': 'Datering' } %}
    {% include 'textfield.html.twig' with { 'name': 'copyright', 'label': 'Copyright' } %}
</div>
<div>
    {% include 'textarea.html.twig' with { 'name': 'handling_nl', 'label': 'Objectvereisten' } %}
</div>

<div id="openseadragon-viewer" style="width: 640px; height: 480px;"></div>
{% if not readonly or prefilled_data.exhibition_title is defined or prefilled_data.exhibition_url is defined
    or prefilled_data.exhibition_date is defined or prefilled_data.exhibition_id is defined or prefilled_data.exhibition_info is defined
    or prefilled_data.exhibition_rep_name is defined %}
    <h2>Informatie bruikleenproject (indien van toepassing)</h2>
    <div>
        {% include 'textfield.html.twig' with { 'name': 'exhibition_title', 'label': 'Naam tentoonstelling/bruikleenproject' } %}
        {% include 'textfield.html.twig' with { 'name': 'exhibition_url', 'label': 'Link naar eventuele webpagina' } %}
    </div>
    <div>
        {% include 'textfield.html.twig' with { 'name': 'exhibition_date', 'label': 'Start- en einddatum bruikleen' } %}
        {% include 'textfield.html.twig' with { 'name': 'exhibition_id', 'label': 'Bruikleennummer' } %}
    </div>
    <div>
        {% include 'textarea.html.twig' with { 'name': 'exhibition_info', 'label': 'Extra informatie tentoonstelling/bruikleenproject' } %}
    </div>
    {% if not readonly or prefilled_data.exhibition_rep_name is defined %}
        <h3>Verantwoordelijke curator instelling/museum/tentoonstellingsplek</h3>
        {% include 'representative_info.html.twig' with { 'type': 'exhibition_rep' }%}
    {% endif %}
{% endif %}
