{% include 'header.html.twig' %}
<script>
    function toggleField(hideObj,showObj) {
        hideObj.disabled=true;
        hideObj.style.display='none';
        showObj.disabled=false;
        showObj.style.display='inline';
        showObj.focus();
    }
</script>
<form action="{{ path('annotate_blank') }}" method="POST">
    {% include 'reason_basic_info.html.twig' %}

    <input type="submit" value="Submit">
</form>

<p>{{ prefilled_data | json_encode | raw }}</p>
{% include 'footer.html.twig' %}
