		</div>
		<footer class="footer">
			<div>
				<div>
					<p>{{ 'Developed by Hero Solutions on behalf of the Flemish Art Collection vzw and the Royal Museum of Fine Arts Antwerp vzw as part of the IIIF2 project with the support of the Flemish Government. Questions about content, source code, IIIF deployment and reuse' | trans }}: <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>.</p>
				</div>
				<div class="footer-links">
					<a href="">Disclaimer</a>
				</div>
			</div>
		</footer>
    </body>
</html>
