		</div>
		<footer class="footer">
			<div>
				<p>Ontwikkeld door Hero Solutions in opdracht van de Vlaamse Kunstcollectie vzw en het Koninklijk Museum voor Schone Kunsten Antwerpen vzw in het kader van het project IIIF2 met steun van de Vlaamse Overheid. Vragen over inhoud, broncode, inzet IIIF en hergebruik: <a href="mailto:info@vlaamsekunstcollectie.be">info@vlaamsekunstcollectie.be</a>.</p>
			</div>
		</footer>
    </body>
</html>
