<!DOCTYPE html>
<html>
    <head>
        <title>IIIF conditierapporten</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}">
    </head>
    <body>
        <div class="main-container">
            {% include 'navbar.html.twig' %}
