{% include 'header.html.twig' %}
    <p><a href="{{ path('reports') }}">Rapporten</a></p>
    <p><a href="{{ path('organizations') }}">Organisaties</a></p>
    <p><a href="{{ path('representatives') }}">Vertegenwoordigers</a></p>
{% include 'footer.html.twig' %}
