{{ include('header.html.twig') }}
    <p><a href="{{ path('search') }}">Zoek bestaand rapport</a></p>
    <p><a href="{{ path('create') }}">Creëer nieuw rapport</a></p>
{{ include('footer.html.twig') }}
