{% set materials = [ 'stone', 'metal', 'glass', 'ceramic', 'plaster', 'textile', 'paper', 'wood', 'plastic', 'custom' ] %}
{% set has_material = false %}
{% set has_socket = false %}
{% for material in materials %}
    {% if prefilled_data['material_' ~ material] is defined %}
        {% set has_material = true %}
    {% endif %}
    {% if prefilled_data['socket_' ~ material] is defined %}
        {% set has_socket = true %}
    {% endif %}
{% endfor %}

{% set finish_layers = [ 'absent', 'glaze', 'varnish', 'wax_layer', 'painting', 'monochrome', 'polychrome', 'patination', 'chop_marks', 'polishing', 'natural', 'artificial', 'custom' ] %}
{% set has_finish_layer = false %}
{% for finish_layer in finish_layers %}
    {% if prefilled_data['finish_layer_' ~ finish_layer] is defined %}
        {% set has_finish_layer = true %}
    {% endif %}
{% endfor %}

{% set connections = [ 'not_applicable', 'welded', 'soldered', 'dived_wood', 'glue', 'screws', 'nails', 'bolts', 'custom' ] %}
{% set has_connection_work = false %}
{% set has_connection_socket = false %}
{% for connection in connections %}
    {% if prefilled_data['connections_work_' ~ connection] is defined %}
        {% set has_connection_work = true %}
    {% endif %}
    {% if prefilled_data['connections_socket_' ~ connection] is defined %}
        {% set has_connection_socket = true %}
    {% endif %}
{% endfor %}

{% if not readonly or has_material or has_socket or prefilled_data.material_specification is defined or has_finish_layer or prefilled_data.finish_layer_specification is defined or prefilled_data.material_production is defined or prefilled_data.form_relief is defined or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined or prefilled_data.construction_work_number_of_parts is defined or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined or prefilled_data.construction_work_custom is defined or prefilled_data.construction_socket_loose is defined or prefilled_data.construction_socket_fixed is defined or prefilled_data.construction_socket_original is defined or prefilled_data.construction_socket_not_original is defined or prefilled_data.construction_socket_custom is defined or has_connection_work or has_connection_socket %}
<div id="material-form"{% if not readonly %} class="form-tab"{% endif %}>

    {% if not readonly or has_material or has_socket or prefilled_data.material_specification is defined or has_finish_layer or prefilled_data.finish_layer_specification is defined or prefilled_data.material_production is defined %}
        <div class="report-header">Materiaalsoort</div>
    {% endif %}

    {% if not readonly or has_material or has_socket or prefilled_data.material_specification is defined %}
    <div class="form-group">
        {% if not readonly or has_material or has_socket %}
            <div class="form-subgroup report-row">
                {% if not readonly or has_material %}
                    <div class="form-item report-column">
                        <div class="report-header-2">Drager</div>
                        {% for material in materials %}
                            {% if material == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'material_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'material_' ~ material, 'label': material | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if not readonly or has_socket %}
                    <div class="form-item report-column">
                        <div class="report-header-2">Sokkel</div>
                        {% for material in materials %}
                            {% if material == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'socket_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'socket_' ~ material, 'label': material | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if not readonly or prefilled_data.material_specification is defined %}
            <div>
                <div class="no-spaces">{% include 'textarea.html.twig' with { 'name': 'material_specification', 'label': 'Materiaalspecificatie' } %}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if not readonly or has_finish_layer or prefilled_data.finish_layer_specification is defined %}
    <div class="form-group">
        {% if not readonly or has_finish_layer %}
            <div class="report-header-2">Afwerklaag</div>
            {% for finish_layer in finish_layers %}
                {% if finish_layer == 'custom' %}
                    <div class="form-subgroup report-row">
                        <div class="form-item">
                            <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'finish_layer_custom' } %}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-subgroup">
                        <div class="form-item">
                            <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'finish_layer_' ~ finish_layer, 'label': finish_layer | trans } %}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if not readonly or prefilled_data.finish_layer_specification is defined %}
            <div class="form-subgroup">
                <div class="form-item no-spaces">{% include 'textarea.html.twig' with { 'name': 'finish_layer_specification', 'label': 'Materiaalspecificatie (indien mogelijk)' } %}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}


    {% if not readonly or prefilled_data.material_production is defined %}
        <div class="report-header">Vervaardigingstechnieken</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'material_production', 'label': 'Vervaardigingstechnieken' } %}</div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.form_relief is defined or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined %}
        <div class="report-header">Vorm</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item relief">
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_relief', 'label': 'Reliëf' } %}</div>
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_full_plastic', 'label': 'Volplastisch' } %}</div>
                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'form_custom' } %}</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
        or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
        or prefilled_data.construction_work_custom is defined or prefilled_data.construction_socket_loose is defined
        or prefilled_data.construction_socket_fixed is defined or prefilled_data.construction_socket_original is defined
        or prefilled_data.construction_socket_not_original is defined or prefilled_data.construction_socket_custom is defined %}
        <div class="report-header">Constructie/samenstelling</div>
        <div class="form-group">
            <div class="form-subgroup report-row">
                {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
                    or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
                    or prefilled_data.construction_work_custom is defined%}
                    <div class="form-item report-column">
                        <div class="report-header-2">Werk</div>
                        <div class="number-of-parts">{% include 'number.html.twig' with { 'name': 'construction_work_number_of_parts', 'label': 'Aantal onderdelen' } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_loose', 'label': 'Los' } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_fixed', 'label': 'Vast' } %}</div>
                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'construction_work_custom', 'label': 'Te monteren met' } %}</div>
                    </div>
                {% endif %}
                {% if not readonly or prefilled_data.construction_socket_loose is defined
                    or prefilled_data.construction_socket_fixed is defined or prefilled_data.construction_socket_original is defined
                    or prefilled_data.construction_socket_not_original is defined or prefilled_data.construction_socket_custom is defined %}
                    <div class="form-item report-column">
                        <div class="report-header-2">Sokkel</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_socket_loose', 'label': 'Los' } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_socket_fixed', 'label': 'Vast' } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_socket_original', 'label': 'Origineel' } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_socket_not_original', 'label': 'Niet origineel' } %}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if not readonly or has_connection_work or has_connection_socket %}
        <div class="report-header">Verbindingen</div>
        <div class="form-group">
            <div class="form-subgroup report-row">
                {% if not readonly or has_connection_work %}
                    <div class="form-item report-column">
                        <div class="report-header-2">Tussen afzonderlijke delen van het beeld</div>
                        {% for connection in connections %}
                            {% if connection == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_work_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_work_' ~ connection, 'label': connection | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not readonly or has_connection_socket %}
                    <div class="form-item report-column">
                        <div class="report-header-2">Tussen beeld en sokkel</div>
                        {% for connection in connections %}
                            {% if connection == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_socket_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_socket_' ~ connection, 'label': connection | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if not readonly %}
    <div class="buttons">
        <div class="previous-button">
            <button type="button" onclick="showDiv('actors-form')">Vorige</button>
        </div>
        <div class="next-button">
            <button type="button" onclick="showDiv('condition-form')">Volgende</button>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
