Aanleiding:
<select name="reason" onchange="if(this.options[this.selectedIndex].value=='customOption') {
        toggleField(this,this.nextSibling);
        this.selectedIndex='0';
    }">
    <option></option>
    {% for key, reason_type in report_reasons %}
        <optgroup label="{{ reason_type.name }}">
            {% for id, reason in reason_type.options %}
                <option value="{{ id }}">{{ reason }}</option>
            {% endfor %}
        </optgroup>
    {% endfor %}
    <option value="customOption">Andere</option>
</select><input name="reason" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this, this.previousSibling);}">

<h2>Identificatie object</h2>
{% include 'textfield.html.twig' with { 'name': 'inventory_number', 'label': 'Inventarisnummer' } %}
{% include 'textfield.html.twig' with { 'name': 'current_location', 'label': 'Standplaats' } %}
{% include 'textfield.html.twig' with { 'name': 'object_name', 'label': 'Objectnaam' } %}
{% include 'textfield.html.twig' with { 'name': 'creator', 'label': 'Vervaardiger' } %}
{% include 'textfield.html.twig' with { 'name': 'title_nl', 'label': 'Titel' } %}
{% include 'textfield.html.twig' with { 'name': 'creation_date', 'label': 'Datering' } %}

<h2>Informatie eigenaar</h2>
<h3>Instelling</h3>
{% include 'organization_info.html.twig' with { 'type': 'owner' }%}
<h3>Vertegenwoordiger</h3>
{% include 'representative_info.html.twig' with { 'type': 'owner_rep' }%}

<h2>Informatie rapporteur/bruikleennemer/restaurateur</h2>
<h3>Instelling</h3>
{% include 'organization_info.html.twig' with { 'type': 'user' }%}
<h3>Vertegenwoordiger</h3>
{% include 'representative_info.html.twig' with { 'type': 'user_rep' }%}

<h2>Informatie koerier/art handler</h2>
<h3>Instelling</h3>
{% include 'organization_info.html.twig' with { 'type': 'handler' }%}
<h3>Vertegenwoordiger</h3>
{% include 'representative_info.html.twig' with { 'type': 'handler_rep' }%}

<h2>Informatie andere derde partij</h2>
<h3>Instelling</h3>
{% include 'organization_info.html.twig' with { 'type': 'third_party' }%}
<h3>Vertegenwoordiger</h3>
{% include 'representative_info.html.twig' with { 'type': 'third_party_rep' }%}
