<div id="report-form">
    {% include 'reason.html.twig' %}
    {% include 'basic_info.html.twig' %}
    {% include 'actors.html.twig' %}
    {% include 'material_construction.html.twig' %}
    {% include 'condition.html.twig' %}
    {% include 'recommendations.html.twig' %}
    {% include 'annotate.html.twig' %}
</div>
