<div>
    {% include 'textfield.html.twig' with { 'name': '{{ type }}_name', 'label': 'Naam' } %}
    {% include 'textfield.html.twig' with { 'name': '{{ type }}_function', 'label': 'Hoedanigheid' } %}
    {% include 'textfield.html.twig' with { 'name': '{{ type }}_email', 'label': 'E-mail' } %}
    {% include 'textfield.html.twig' with { 'name': '{{ type }}_phone', 'label': 'Tel.' } %}
</div>